<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Logout</title>
	{{> include}}
</head>
<body>
	{{> header}}
	<section class="fullpage-form-container">
		<form id="login_form" class="fullpage-form">
			<div id="error_msg" class="hidden">Error message here</div>
			<div id="success_msg">Logging out...</div>
		</form>
	</section>
	{{> footer}}
</body>
</html>